.Botao {
    border: none;
    padding: 4px;
    border-radius: 9px;
    width: 27px;
}

[tipo="primario"] {
    color: var(--blue-light);
    background-color: var(--blue-darker);
}

[tipo="secundario"] {
    color: var(--orange-light);
    background-color: var(--orange-vibrant);
}