li{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--orange-light);
    gap: 0.3rem;
    background-color: var(--orange-medium);
    min-width: 8rem;
    padding: 6px;
    border-radius: 9px;
}