.Cabecalho {
    background-color: var(--blue-darker);
    color: var(--blue-light);
    padding: 0px 10px;
    font-size: 2rem;
    text-align: center;
}

.Cabecalho span {
    font-weight: 700;
    font-size: 2rem;
}